/* MyPortfolio.css */

.Card {
    background-color: rgba(239, 142, 226, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(163, 160, 160, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
}

.Card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(26, 190, 51, 0.1);
    background-color: #b1f2ed;
}

h4 {
    margin-bottom: 10px;
}